@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --regular: "HarmonyOS_Regular";
  --medium: "HarmonyOS_Medium";
  --background: #fff;
  --banner: #f0e9dc;
  --primary-text: #313135;
  --pink: #ff6b81;
}

html {
  font-family: "HarmonyOS_Regular", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

pre {
  font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
  @apply text-sm/6 sm:text-base/7;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0;
}

.footnotes li {
  margin-top: -5rem;
  padding-top: 4rem;
}

.footnotes h2 {
  display: none;
}

.footnotes a {
  display: none;
}

.header {
  transition-property: max-height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}
