@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pink: #ff6b81;
}

:root.dark {
  --pink: #ff6b81;
}

html {
  font-family: "LXGW WenKai Screen", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--pink);
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

pre {
  font-family: ui-monospace, "SFMono-Regular", "Menlo", "Monaco", "Consolas",
    "Liberation Mono", "Courier New", monospace;
  @apply text-sm/6 sm:text-base/7;
  padding: 1rem;
  overflow-x: auto;
  margin: 1rem 0;
}

.footnotes h2 {
  display: none;
}

.footnotes a {
  display: none;
}

.comments-content p {
  @apply text-justify text-sm/6 sm:text-base/7;
}

.header {
  transition-property: max-height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 1000ms;
}
